#ifndef __CREDENTIALS_H__
#define __CREDENTIALS_H__

// WiFi credentials:
const char* ssid = "mySSID";
const char* password = "secret";

// Shelly IP (and Port; with ":8080" appended)
#define SHELLY_IP "192.168.1.100"

#endif
